@layer base {
    input::-webkit-calendar-picker-indicator {
        filter: invert(0);
    }

    .dark input::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    html {
        font-size: 18px;
    }

    body {
        @apply transition-colors duration-300 ease-in-out;
    }

    .body-bg {
        @apply bg-slate-100 dark:bg-slate-800;
    }

    .body-text-color {
        @apply text-gray-800 dark:text-gray-200;
    }

    h1 {
        @apply font-bold uppercase text-4xl tracking-widest;
    }

    h2 {
        @apply font-bold capitalize text-2xl tracking-widest;
    }

    h3 {
        @apply font-bold capitalize text-xl tracking-widest;
    }

    h4 {
        @apply font-black tracking-wide;
    }

    h5 {
        @apply font-bold uppercase text-base tracking-wide;
    }

    h6 {
        @apply font-normal uppercase tracking-wide;
    }

    p {
        @apply prose dark:prose-invert;
    }

    th,
    td {
        @apply px-2 py-1;
    }

    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="search"],
    [type="tel"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        @apply border p-2 rounded-md w-full transition-all duration-200 ease-in-out disabled:cursor-not-allowed disabled:text-gray-500;

        /* Light mode styles */
        @apply bg-gray-50 text-gray-800 border-gray-300;
        @apply disabled:bg-gray-200;

        /* Dark mode styles */
        @apply dark:bg-gray-600 dark:text-gray-200 dark:border-gray-500;
        @apply dark:disabled:bg-gray-800;

        /* Focus styles */
        @apply focus:ring-2 focus:border-indigo-500 focus:ring-indigo-600 dark:focus:ring-indigo-400;
    }

    [type="checkbox"] {
        @apply appearance-none size-6 border border-indigo-500 rounded-md cursor-pointer m-1 shadow-sm dark:shadow-gray-700 focus:ring-1 focus:ring-offset-1
        bg-gray-50 dark:bg-gray-600 hover:bg-gray-200 hover:dark:bg-gray-500 text-gray-800 dark:text-gray-200
        checked:bg-indigo-500 checked:text-indigo-200 checked:bg-[length:150%] hover:checked:bg-indigo-600
        focus:border-indigo-500 focus:ring-indigo-500 focus:ring-offset-gray-500
        disabled:bg-gray-200 disabled:cursor-not-allowed disabled:text-gray-500 dark:disabled:bg-gray-800
        transition-all duration-200 ease-in-out bg-center bg-no-repeat
        checked:bg-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTYgMTBMOSAxM0wxNCA3IiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+')];
    }

    [type="radio"] {
        @apply appearance-none size-6 border border-indigo-500 rounded-full cursor-pointer m-1 shadow-sm dark:shadow-gray-700 focus:ring-1 focus:ring-offset-1
        bg-gray-50 dark:bg-gray-600 hover:bg-gray-200 hover:dark:bg-gray-500 text-gray-800 dark:text-gray-200
        checked:bg-indigo-500 checked:text-indigo-200 hover:checked:bg-indigo-600
        focus:border-indigo-500 focus:ring-indigo-500 focus:ring-offset-gray-500
        disabled:bg-gray-200 disabled:cursor-not-allowed disabled:text-gray-500 dark:disabled:bg-gray-800
        transition-all duration-200 ease-in-out bg-center bg-no-repeat
        checked:bg-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTAgMTJMMTAgMiIvPjwvc3ZnPg==')];
    }

    [type="radio"]:checked {
        box-shadow: inset 0 0 0 4px white,
            inset 0 0 0 8px var(--color-indigo-500);
    }

    [type="color"] {
        @apply cursor-pointer bg-transparent focus:ring-1 focus:ring-offset-1 rounded-md focus:border-indigo-500 focus:ring-indigo-500 focus:ring-offset-gray-500;
    }

    [type="range"] {
        @apply cursor-pointer appearance-none focus:ring-1 focus:ring-offset-1 h-1 rounded-full;
        @apply dark:bg-indigo-600 bg-indigo-400 accent-rose-500 focus:border-indigo-500 focus:ring-indigo-500 focus:ring-offset-gray-500;
    }

    [type="file"] {
        @apply relative m-0 block rounded-lg border border-solid text-base font-normal bg-clip-padding transition duration-300 ease-in-out px-3 py-2 shadow-sm focus:outline-none cursor-pointer;
        @apply file:cursor-pointer file:transition file:duration-150 file:ease-in-out file:-mx-3 file:-my-2 file:px-3 file:py-2 file:font-bold file:border-solid file:border-inherit file:overflow-hidden file:rounded-none file:border-0 file:border-e-2 file:me-3 file:tracking-widest;
        @apply file:bg-indigo-600 file:text-white hover:file:bg-indigo-500 active:file:bg-indigo-700 focus:border-indigo-500 dark:focus:border-indigo-600;

        /* Light mode styles */
        @apply bg-gray-50 text-gray-800 border-gray-300;
        @apply disabled:bg-gray-200;

        /* Dark mode styles */
        @apply dark:bg-gray-600 dark:text-gray-200 dark:border-gray-500;
        @apply dark:disabled:bg-gray-800;
    }

    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="time"],
    [type="week"],
    select,
    option,
    button {
        @apply cursor-pointer disabled:text-gray-500 dark:disabled:bg-gray-800 disabled:bg-gray-200;
    }

    label,
    .label {
        @apply block m-2;
    }

    a.link,
    button.link {
        @apply text-sky-600 dark:text-sky-400 no-underline hover:text-indigo-500 hover:underline hover:underline-offset-2 focus:outline-none focus:text-indigo-500;
    }

    a.link.active,
    button.link.active {
        @apply text-indigo-400 dark:text-indigo-500 cursor-default;
    }

    .link.secondary {
        @apply text-gray-800 dark:text-gray-200 hover:no-underline;
    }

    .inline-size-max {
        inline-size: max-content;
    }
}
